.seccionVisible{
    background-color: #22346c;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sup{
    height: 20%;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cent{
    height: 60%;
    width: 100%;
    background-color: grey;
}

.inf{
    height: 20%;
    width: 100%;
    background-color: hotpink;
}
.general{
    width: 50em;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general1{
    background-color: aqua;
}

.general2{
    background-color: blue;
}

.general3{
    background-color: red;
}

.general4{
    background-color: green;
}